/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SYMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER


*/
/* BASE COLORS */
body {
  color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
p {
  color: rgb(255, 255, 255);
}

/* BASE TEXT FONTS */
body {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "montserrat", sans-serif;
}

.headline {
  font-family: "montserrat", sans-serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0 0.5em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1rem;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 0.5em 0;
  margin: 3em auto 3em auto;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.3;
}

/* LIMIT # OF CHARACTERS PER LINE */
p {
  max-width: 55em;
}

/* LINKS */
a {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(16, 73, 17);
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  width: 500px;
  height: 1px;
  background-color: rgb(244, 244, 244);
  margin: 1em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-weight: 900;
  line-height: 1;
  margin: 0;
  color: rgb(255, 255, 255);
}

.subheadline {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0.25em 0;
  color: rgb(255, 255, 255);
}

/* BUTTONS */
.button1 {
  display: inline-block;
  background-color: rgb(255, 212, 73);
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0.5em 1em 0.5em;
}
.button1:hover {
  color: white;
  -webkit-animation: pulse1 750ms;
          animation: pulse1 750ms;
  -webkit-box-shadow: 0 0 0 0.75em transparent;
          box-shadow: 0 0 0 0.75em transparent;
}
@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(255, 212, 73);
            box-shadow: 0 0 0 0 rgb(255, 212, 73);
  }
}
@keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(255, 212, 73);
            box-shadow: 0 0 0 0 rgb(255, 212, 73);
  }
}

.button2 {
  display: inline-block;
  background-color: rgb(255, 212, 73);
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0.5em 1em 0;
}
.button2:hover {
  color: white;
  -webkit-animation: pulse2 750ms;
          animation: pulse2 750ms;
  -webkit-box-shadow: 0 0 0 0.75em transparent;
          box-shadow: 0 0 0 0.75em transparent;
}
@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(255, 212, 73);
            box-shadow: 0 0 0 0 rgb(255, 212, 73);
  }
}
@keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(255, 212, 73);
            box-shadow: 0 0 0 0 rgb(255, 212, 73);
  }
}

/* MEDIA */
/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  padding: 0 5em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1500px;
}

.hero-container {
  text-align: center;
  margin: 0 auto;
  padding: 0 3vw;
  max-width: 1500px;
}

.about {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-text {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-text h1 {
  margin-bottom: 0.25em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.about-text h3 {
  margin: 0.5em 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.2rem;
}
.about-text p {
  font-size: 1.15rem;
}

@media (max-width: 768px) {
  .about-text {
    font-size: 1rem;
    margin: 3em;
  }
}
@media (max-width: 1050px) {
  .about-text {
    margin: 2em;
  }
}
.about-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 1em;
}
.about-icons .fa-brands {
  font-size: 2em;
  color: rgb(255, 255, 255);
  padding: 0 0.5em;
  padding-left: 0;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SYMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stack {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row {
    /* GRID HELPERS */
  }
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourth {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

/* CUSTOM PROJECT GRID */
.studies-wrapper {
  font-size: 0;
}
.studies-wrapper .studies-links {
  display: inline-block;
  width: 33.333%;
  height: 100vh;
  position: relative;
}
.studies-wrapper .studies-links img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.studies-wrapper .studies-links:before,
.studies-wrapper .studies-links:after {
  width: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.studies-wrapper .studies-links:before {
  content: "";
  height: 100%;
  background: rgba(24, 24, 24, 0.9);
}
.studies-wrapper .studies-links:after {
  content: attr(data-title);
  font-size: 2rem;
  font-weight: 800;
  margin: 0 auto;
  top: calc(50% - 0.5em);
  left: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.studies-wrapper .studies-links:hover:before,
.studies-wrapper .studies-links:hover:after {
  opacity: 1;
}

@media (max-width: 768px) {
  .studies-links {
    width: 100%;
  }
}
/* SITE STRUCTURE */
video {
  width: 100% !important;
  height: auto !important;
}

.video-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-hero {
  min-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero h1 {
  font-size: 5rem;
  font-size: clamp(1.5em, 12vw, 5em);
  margin: 0 auto;
  margin-bottom: 0.25em;
  color: rgb(255, 255, 255);
}
.hero p {
  font-size: 1rem;
  font-size: clamp(0.25rem, 8vw, 1rem);
  margin: 0 auto;
  color: rgb(255, 255, 255);
}

.about-home {
  text-align: left;
}
.about-home h1 {
  font-size: 3rem;
  margin-bottom: 0.25em;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .about-home {
    text-align: left;
  }
  .about-home h1 {
    font-size: 6rem;
    margin-bottom: 0.25em;
    color: rgb(255, 255, 255);
    width: 600px;
  }
  .about-home p {
    font-size: 1.25rem;
  }
}
/* TO HIDE SOMETHING VISUALLY */
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.atop {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.abottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* HERO IMAGE ANIMAITON */
@media (min-width: 1050px) {
  .profile-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/photo.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .profile-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .profile-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/photo.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .profile-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 1050px) {
  .isle-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/isle/isle-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .isle-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .isle-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/isle/isle-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .isle-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 1050px) {
  .piko-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/piko/piko-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .piko-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .piko-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/piko/piko-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .piko-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 1050px) {
  .forge-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/forge/forge-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .forge-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .forge-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/forge/forge-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .forge-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 1050px) {
  .hana-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/hana/hana-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .hana-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .hana-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/hana/hana-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .hana-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 1050px) {
  .artforyou-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/afy/artforyou-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .artforyou-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .artforyou-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/afy/artforyou-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .artforyou-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 1050px) {
  .kuaina-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/kuaina/kuaina-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .kuaina-hero-right:hover {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .kuaina-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/kuaina/kuaina-hero.webp);
    background-position: center;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .kuaina-hero-right:hover {
    width: 55%;
  }
}
/* SITE-HEADER SITE-NAV */
.site-header .site-nav {
  padding: 1em 1em;
}
.site-header .site-nav a {
  color: rgba(255, 255, 255, 0.8);
}
.site-header .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .site-header .site-nav ul {
    width: 50%;
  }
}

/* SITE NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav a {
  display: inline-block;
  padding: 0 1em;
  line-height: 1;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.logo {
  margin: 0.25em 0.5em;
  max-width: 50px;
}

.site-id {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  padding-left: 1em;
  padding-top: 1em;
}

/* SITE FOOTER */
.site-footer {
  background: transparent;
  padding: 3em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: rgb(244, 244, 244);
}

/* ANIMATIONS */
/* ANIMATED INTRO */
.splash-intro {
  position: static;
  width: 100%;
  height: 100vh;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 5;
  background-color: rgb(24, 24, 24);
  background-image: url("../img/desk-setup.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* ANIMATION CODE   */
  -webkit-animation-name: intro-animation;
          animation-name: intro-animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes intro-animation {
  80% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

@keyframes intro-animation {
  80% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
.splash-intro .splash-logo {
  width: 100px;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  /* ANIMATION */
  -webkit-animation-name: logo-animation;
          animation-name: logo-animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
}

@-webkit-keyframes logo-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes logo-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/* UTILITY / HELPER CLASSES FOR ANIMATION */
.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 1000ms ease-out 350ms;
  transition: all 1000ms ease-out 350ms;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-slide-up-text,
[data-sectionstate=inactive] .animate-slide-up-text {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

[data-sectionstate=active] .animate-slide-up-text {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-slide-left,
[data-sectionstate=inactive] .animate-slide-left {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
}

[data-sectionstate=active] .animate-slide-left {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-slide-right,
[data-sectionstate=inactive] .animate-slide-right {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}

[data-sectionstate=active] .animate-slide-right {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-drop-delay *,
[data-sectionstate=inactive] .animate-drop-delay * {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  -webkit-transform: translate(50, 0px);
          transform: translate(50, 0px);
}
.animate-drop-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(1) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.animate-drop-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(2) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.animate-drop-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(3) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.animate-drop-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(4) {
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.animate-drop-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(5) {
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}
.animate-drop-delay *:nth-child(6),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(6) {
  -webkit-transition-delay: 1100ms;
          transition-delay: 1100ms;
}
.animate-drop-delay *:nth-child(7),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(7) {
  -webkit-transition-delay: 1200ms;
          transition-delay: 1200ms;
}
.animate-drop-delay *:nth-child(8),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(8) {
  -webkit-transition-delay: 1300ms;
          transition-delay: 1300ms;
}

[data-sectionstate=active] .animate-drop-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* CASE STUDY SECTIONS */
.project-container {
  text-align: left;
  margin: 0 auto;
  padding: 3em 3em;
  max-width: 1500px;
}

.light-container {
  text-align: left;
  margin: 0 auto;
  padding: 0 3em;
  max-width: 1500px;
}

.light-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.dark-container {
  text-align: left;
  margin: 0 auto;
  padding: 0 3em;
  max-width: 1500px;
}

.card-container {
  text-align: left;
  margin: 0 auto;
  max-width: 1600px;
}

.featured-container {
  margin: 0 auto;
  padding: 0 2em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5em;
  min-height: 100vh;
}
.design-section h1 {
  padding: 0.25em 0;
}
.design-section .design-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -110px;
}

.asset-section {
  padding-top: 0;
  padding-bottom: 4em;
}

.info-section .light-full-width {
  background-color: rgb(244, 244, 244);
  min-height: 100vh;
  padding: 6em 0;
}
.info-section .light-full-width h1,
.info-section .light-full-width p {
  color: rgb(0, 0, 0);
}
.info-section .light-full-width-2 {
  background-color: rgb(24, 24, 24);
  min-height: 100vh;
  padding: 6em 0;
}
.info-section .light-full-width-2 h1,
.info-section .light-full-width-2 p {
  color: rgb(255, 255, 255);
}
.info-section .dark-full-width {
  background-color: rgb(24, 24, 24);
  min-height: 100vh;
  padding: 6em 0;
}
.info-section .dark-full-width h1,
.info-section .dark-full-width p {
  color: rgb(255, 255, 255);
}

.user-section {
  min-height: 50vh;
}

.display-section {
  background-color: rgb(244, 244, 244);
  min-height: auto;
  padding: 7em 0;
}

.number-block {
  padding-right: 3em;
}

/* CASE STUDY STYLING */
.project-hero {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-text {
  padding: 1em;
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-text h1 {
  margin-bottom: 0.25em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.project-text h3 {
  margin: 0.5em 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.project-text p {
  font-size: 1rem;
}
.project-text .project-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .project-text {
    margin: 0 auto;
    text-align: left;
  }
  .project-text h1 {
    margin-bottom: 0.25em;
    color: rgb(255, 255, 255);
    width: 600px;
  }
}
.intro-full-width {
  background-color: rgb(244, 244, 244);
  min-height: 50vh;
  padding: 9em 0 14em 0;
}
.intro-full-width h3,
.intro-full-width p {
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .intro-full-width {
    padding: 6em 0;
  }
}
.image-banner img {
  width: 98%;
  position: relative;
  top: -90px;
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.forge-banner {
  width: 98%;
  position: relative;
  top: -110px;
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.piko-full-width {
  background-image: url("../../img/piko-trangles-top.svg"), url(../../img/piko-trangles-bottom.svg);
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-color: rgb(244, 244, 244);
  min-height: 70vh;
  padding: 6em 0;
}
.piko-full-width h1,
.piko-full-width p {
  color: rgb(0, 0, 0);
}

.piko-icons {
  background-color: rgb(244, 244, 244);
  min-height: 40vh;
  padding: 3em 0;
}

.featured-section {
  margin: 0 auto;
  max-height: 100vh;
  padding: 4em 0;
  background-color: rgb(24, 24, 24);
}
.featured-section h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
}
.featured-section p {
  font-size: 0.95rem;
}

.featured-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.featured-img {
  padding: 1em 0;
}

.feat {
  padding: 0.5em 0;
  border-top: 1px solid rgb(255, 255, 255);
}

/* CUSTOM PROJECT DISPLAY */
.piko-bg-img {
  background: rgb(24, 24, 24);
  background-image: url(../img/piko/piko-logo.webp);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 400px 300px;
}

.artforyou-overlay {
  background-color: rgb(244, 244, 244);
  background-image: url(../img/afy/artforyou-pages.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

/* CARD LAYOUT */
@media (min-width: 768px) {
  .card-section {
    margin-right: 1em;
  }
}
@media (min-width: 1050px) {
  .card-section {
    margin-right: 1em;
  }
}

.project-cards {
  margin: 1em;
}
@media (min-width: 768px) {
  .project-cards {
    padding-bottom: 2em;
  }
}

@media (min-width: 768px) {
  .card-set-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .card-set-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .card-set-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 0;
  }
}
@media (min-width: 1050px) {
  .card-set-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .card-set-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-right: 0;
  }
}
@media (min-width: 1050px) {
  .card-set-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-right: 0;
  }
}

.bg-card {
  background-color: rgb(35, 35, 35);
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 2em;
}
.bg-card h3 {
  padding-top: 0.5em;
}
.bg-card p {
  line-height: 1.6;
}
@media (min-width: 768px) {
  .bg-card {
    margin-bottom: 0;
  }
  .bg-card:first-child {
    margin-right: 2em;
  }
  .bg-card:nth-child(2) {
    margin-right: 2em;
  }
  .bg-card:last-child {
    margin-right: 0;
  }
}
.bg-card.card-layout-text-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 1050px) {
  .bg-card.card-layout-text-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2em 1fr;
    grid-template-columns: 4fr 1fr;
    gap: 2em;
  }
}
@media (min-width: 1050px) {
  .bg-card.card-layout-text-right-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2em 3fr;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
  }
}
@media (min-width: 1050px) {
  .bg-card.card-layout-text-right-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 4fr;
    grid-template-columns: 1fr 4fr;
    gap: 2em;
  }
}
@media (min-width: 1050px) {
  .bg-card.card-layout-text-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 2fr;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    grid-auto-flow: dense;
  }
  .bg-card.card-layout-text-left > :first-child {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }
  .bg-card.card-layout-text-left > :last-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
}
@media (min-width: 1050px) {
  .bg-card.card-layout-text-left-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    grid-auto-flow: dense;
  }
  .bg-card.card-layout-text-left-1 > :first-child {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }
  .bg-card.card-layout-text-left-1 > :last-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
}
@media (min-width: 768px) {
  .bg-card.card-layout-text-split {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 2fr;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
  }
}
@media (min-width: 768px) {
  .bg-card.card-layout-text-split-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2em 2fr;
    grid-template-columns: 4fr 2fr;
    gap: 2em;
  }
}