/* GLOBAL RESETS */
* {
    box-sizing: border-box;
}

// VARIABLES
$color-background-light: rgba(247, 247, 247, 1);
$color-background-dark: rgba(25, 25, 25, 1);
$color-text-body-light: rgba(247, 247, 247, 1);
$color-text-body-dark: rgba(25, 25, 25, 1);
$color-green-light: rgba(18, 125, 182, 1);
$color-green-dark: rgba(40, 96, 138, 1);
$color-yellow: rgba(255, 212, 92, 1);

$font-family-sans: 'montserrat', sans-serif;
$font-family-sans-alt: 'montserrat-alternates', sans-serif;
$font-family-script: 'funkydori', sans-serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;


// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/helpers";
@import "partials/sitenav";
@import "partials/animations";
@import "partials/projects";
@import "partials/cards";