/* CARD LAYOUT */

.card-section {
    @media (min-width: $breakpoint-small) {
        margin-right: 1em;
    }

    @media (min-width: $breakpoint-medium) {
        margin-right: 1em;
    }
}

.project-cards {
    margin: 1em;

    @media (min-width: $breakpoint-small) {
        padding-bottom: 2em;
    }
}

.card-set-1 {
    @media (min-width: $breakpoint-small) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $breakpoint-medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.card-set-2 {
    @media (min-width: $breakpoint-small) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 0;
    }

    @media (min-width: $breakpoint-medium) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 0;
    }
}

.card-set-3 {
    @media (min-width: $breakpoint-small) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0;
    }

    @media (min-width: $breakpoint-medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0;
    }
}

.bg-card {
    background-color: rgba(35, 35, 35, 1);
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 2em;

    h3 {
        padding-top: .5em;
    }

    p {
        line-height: 1.6;
    }

    @media (min-width: $breakpoint-small) {
        margin-bottom: 0;

        &:first-child {
            margin-right: 2em;
        }

        &:nth-child(2) {
            margin-right: 2em;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &.card-layout-text-top {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    &.card-layout-text-right {
        @media (min-width: $breakpoint-medium) {
            display: grid;
            grid-template-columns: 4fr 1fr;
            gap: 2em;
        }
    }

    &.card-layout-text-right-1 {
        @media (min-width: $breakpoint-medium) {
            display: grid;
            grid-template-columns: 2fr 3fr;
            gap: 2em;
        }
    }

    &.card-layout-text-right-2 {
        @media (min-width: $breakpoint-medium) {
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 2em;
        }
    }

    &.card-layout-text-left {
        @media (min-width: $breakpoint-medium) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 2em;
            grid-auto-flow: dense;

            > :first-child {
                grid-column-start: 2;
                grid-column-end: 3;
            }

            > :last-child {
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }

    &.card-layout-text-left-1 {
        @media (min-width: $breakpoint-medium) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;
            grid-auto-flow: dense;

            > :first-child {
                grid-column-start: 2;
                grid-column-end: 3;
            }

            > :last-child {
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }

    &.card-layout-text-split {
        @media (min-width: $breakpoint-small) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 2em;
        }
    }

    &.card-layout-text-split-1 {
        @media (min-width: $breakpoint-small) {
            display: grid;
            grid-template-columns: 4fr 2fr;
            gap: 2em;
        }
    }
}