/* SYMANTIC GRID */

$gridgap: 2%;

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($gridgap / 2);
    margin-right: -($gridgap / 2);
    align-items: center;

    >* {
        margin: ($gridgap / 2);
        flex-grow: 1;
    }

    &.centered {
        justify-content: center;
    }

    &.swap {
        flex-direction: row-reverse;
    }

    &.stack {
        flex-direction: column;
    }

    &.align-top {
        align-items: flex-start;
    }

    @media (min-width: $breakpoint-small) {

        >* {
            flex-grow: 0;
        }

        .one-whole {
            width: 100% - $gridgap;
        }

        .one-half {
            width: 50% - $gridgap;
        }

        .one-third {
            width: 33.3333% - $gridgap;
        }

        .two-thirds {
            width: 66.6666% - $gridgap;
        }

        .one-fourth {
            width: 25% - $gridgap;
        }

        .three-fourth {
            width: 75% - $gridgap;
        }

        .push-one-fourth {
            margin-left: 25% + ($gridgap / 2);
        }

        .push-one-third {
            margin-left: 33.333% + ($gridgap / 2);
        }

        .push-one-half {
            margin-left: 50% + ($gridgap / 2);
        }

        /* GRID HELPERS */

        .centered {
            margin-left: auto;
            margin-right: auto;
        }

    }

}

/* CUSTOM PROJECT GRID */