/* TO HIDE SOMETHING VISUALLY */

.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.atop {
    align-items: flex-start;
}

.abottom {
    align-items: flex-end;
}

.center {
    align-items: center;
}

.isle-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/isle-hero.jpg);
    background-position: center;
    background-size: cover;
    transition: all 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.isle-hero-right:hover {
    width: 55%;
}

.piko-hero-right {
    width: 50%;
    height: 100%;
    background: url(../img/piko-hero.jpg);
    background-position: center;
    background-size: cover;
    transition: all 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.piko-hero-right:hover {
    width: 55%;
}

.forge-hero-right {
    width: 50%;
    height: 100%;
    background: url(../../img/forge-hero.webp);
    background-position: center;
    background-size: cover;
    transition: all 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.forge-hero-right:hover {
    width: 55%;
}