/* TO HIDE SOMETHING VISUALLY */

.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.atop {
    align-items: flex-start;
}

.abottom {
    align-items: flex-end;
}

.center {
    align-items: center;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

/* HERO IMAGE ANIMAITON */

@media (min-width: $breakpoint-medium) {
    .profile-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/tztd-profile-1.jpg);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .profile-hero-right:hover {
        width: 55%;
        background: url(../../img/coming-soon.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (min-width: $breakpoint-small) {
    .profile-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/tztd-profile-1.jpg);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .profile-hero-right:hover {
        width: 55%;
        width: 55%;
        background: url(../../img/coming-soon.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (min-width: $breakpoint-medium) {
    .isle-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/isle/isle-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .isle-hero-right:hover {
        width: 55%;
    }
}

@media (min-width: $breakpoint-small) {
    .isle-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/isle/isle-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .isle-hero-right:hover {
        width: 55%;
    }
}




@media (min-width: $breakpoint-medium) {
    .piko-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/piko/piko-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .piko-hero-right:hover {
        width: 55%;
    }
}

@media (min-width: $breakpoint-small) {
    .piko-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/piko/piko-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .piko-hero-right:hover {
        width: 55%;
    }
}


@media (min-width: $breakpoint-medium) {
    .forge-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/forge/forge-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .forge-hero-right:hover {
        width: 55%;
    }
}

@media (min-width: $breakpoint-small) {
    .forge-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/forge/forge-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .forge-hero-right:hover {
        width: 55%;
    }
}

@media (min-width: $breakpoint-medium) {
    .hana-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/hana/hana-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .hana-hero-right:hover {
        width: 55%;
    }
}

@media (min-width: $breakpoint-small) {
    .hana-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/hana/hana-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .hana-hero-right:hover {
        width: 55%;
    }
}


@media (min-width: $breakpoint-medium) {
    .artforyou-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/afy/artforyou-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .artforyou-hero-right:hover {
        width: 55%;
    }
}

@media (min-width: $breakpoint-small) {
    .artforyou-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/afy/artforyou-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .artforyou-hero-right:hover {
        width: 55%;
    }
}



@media (min-width: $breakpoint-medium) {
    .kuaina-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/kuaina/kuaina-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .kuaina-hero-right:hover {
        width: 55%;
    }
}

@media (min-width: $breakpoint-small) {
    .kuaina-hero-right {
        width: 50%;
        height: 100%;
        background: url(../img/kuaina/kuaina-hero.webp);
        background-position: center;
        background-size: cover;
        transition: all 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .kuaina-hero-right:hover {
        width: 55%;
    }
}