/* RESET BODY */

body {
    margin: 0;
}

/* SECTIONS */

// .home-sections {
//     min-height: 100vh;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

/* CONTAINER */

.container {
    margin: 0 auto;
    padding: 0 5em;
    display: grid;
    justify-content: center;
    max-width: 1500px;
}

.hero-container {
    text-align: center;
    margin: 0 auto;
    padding: 0 3vw;
    max-width: 1500px;
}

.about {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.about-text {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: .25em;
        align-self: flex-start;
    }

    h3 {
        margin: .5em 0;
        align-self: flex-start;
        font-size: 1.2rem;
    }

    p {
        font-size: 1.15rem;
    }
}

@media (max-width: $breakpoint-small) {
    .about-text {
        font-size: 1rem;
        margin: 3em;
    }
}

@media (max-width: $breakpoint-medium) {
    .about-text {
        margin: 2em;

        // h1 {
        //     margin-bottom: .25em;
        //     align-self: flex-start;
        // }

        // h3 {
        //     margin: .5em 0;
        //     align-self: flex-start;
        //     font-size: 1.2rem;
        // }

        // p {
        //     font-size: 1.15rem;
        // }
    }
}

.about-icons {
    display: flex;
    width: 100%;
    padding-top: 1em;
    // border: 2px solid red;

    .fa-brands {
        font-size: 2em;
        color: $color-text-body-light;
        padding: 0 .5em;
        padding-left: 0;
    }
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */

// SMALL

body {
    font-size: 87.5%;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%;
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%;
    }
}