/* CASE STUDY SECTIONS */

// CONTAINERS

.project-container {
    text-align: left;
    margin: 0 auto;
    padding: 3em 3em;
    max-width: 1500px;
}

.light-container {
    text-align: left;
    margin: 0 auto;
    padding: 0 3em;
    max-width: 1500px;
}

.light-container-1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.dark-container {
    text-align: left;
    margin: 0 auto;
    padding: 0 3em;
    max-width: 1500px;
}

.card-container {
    text-align: left;
    margin: 0 auto;
    max-width: 1600px;
}

.content-wrapper {
    background-color: rgba(13, 44, 73, 0.8);
}

.featured-container {
    margin: 0 auto;
    padding: 0 2em;
    display: grid;
    justify-content: center;
}

// SECTIONS

.design-section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    min-height: 100vh;

    h1 {
        padding: .25em 0;
    }

    .design-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        top: -110px;
    }
}

.asset-section {
    padding-top: 0;
    padding-bottom: 4em;
}

.info-section {

    .light-full-width {
        background-color: $color-background-light;
        min-height: 100vh;
        padding: 6em 0;

        h1,
        p {
            color: $color-text-body-dark;
        }
    }

    .light-full-width-2 {
        background-color: $color-background-dark;
        min-height: 100vh;
        padding: 6em 0;

        h1,
        p {
            color: $color-text-body-light;
        }
    }

    .dark-full-width {
        background-color: $color-background-dark;
        min-height: 100vh;
        padding: 6em 0;

        h1,
        p {
            color: $color-text-body-light;
        }
    }
}

.user-section {
    min-height: 50vh;
}

.display-section {
    background-color: $color-background-light;
    min-height: auto;
    padding: 7em 0;
}

.number-block {
    padding-right: 3em;
}

/* CASE STUDY STYLING */

.project-hero {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.project-text {
    padding: 1em;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: .25em;
        align-self: flex-start;
    }

    h3 {
        margin: .5em 0;
        align-self: flex-start;
    }

    p {
        font-size: 1rem;
    }

    .project-skills {
        display: flex;
        gap: 15px;
        justify-content: space-between;
    }
}

@media (min-width: $breakpoint-small) {

    .project-text {
        margin: 0 auto;
        text-align: left;

        h1 {
            margin-bottom: .25em;
            color: $color-text-body-light;
            width: 600px;
        }
    }
}

.intro-full-width {
    background-color: $color-background-light;
    min-height: 50vh;
    padding: 9em 0 14em 0;

    h3,
    p {
        color: $color-text-body-dark;
    }
}

@media (max-width:768px) {
    .intro-full-width {
        padding: 6em 0;
    }
}

.image-banner {
    img {
        width: 98%;
        position: relative;
        top: -90px;
        margin: 0 auto;
        text-align: center;
        display: grid;
    }
}

.forge-banner {
    width: 98%;
    position: relative;
    top: -110px;
    margin: 0 auto;
    text-align: center;
    display: grid;
}

.piko-full-width {
    background-image: url('../../img/piko-trangles-top.svg'), url(../../img/piko-trangles-bottom.svg);
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    background-color: $color-background-light;
    min-height: 70vh;
    padding: 6em 0;

    h1,
    p {
        color: $color-text-body-dark;
    }
}

.piko-icons {
    background-color: $color-background-light;
    min-height: 40vh;
    padding: 3em 0;
}

.featured-section {
    margin: 0 auto;
    max-height: 100vh;
    padding: 4em 0;
    background-color: $color-background-dark;

    h2 {
        color: $color-text-body-light;
        text-align: center;
        margin: 0 auto;
    }

    p {
        font-size: .95rem;
    }
}

.featured-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
}

.featured-img {
    padding: 1em 0;
}

.feat {
    padding: .5em 0;
    border-top: 1px solid $color-text-body-light;
}

/* CUSTOM PROJECT DISPLAY */

.piko-bg-img {
    background: $color-background-dark;
    background-image: url(../img/piko/piko-logo.webp);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 400px 300px;
}



.artforyou-overlay {
    background-color: $color-background-light;
    background-image: url(../img/afy/artforyou-pages.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}