/* CASE STUDY SECTIONS */

// CONTAINERS
.project-container {
    text-align: left;
    margin: 0 auto;
    padding: 0 3em;
    max-width: 1500px;
}

.light-container {
    text-align: left;
    margin: 0 auto;
    padding: 0 3em;
    max-width: 1500px;
}

.dark-container {
    text-align: left;
    margin: 0 auto;
    padding: 0 3em;
    max-width: 1500px;
}

.content-wrapper {
    background-color: rgba(13, 44, 73, 0.8);
}

.design-section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    min-height: 100vh;

    h1 {
        padding: .25em 0;
    }

    .design-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        top: -110px;
    }
}

.asset-section {
    padding-top: 0;
    padding-bottom: 4em;
}

.info-section {

    .light-full-width {
        background-color: $color-background-light;
        min-height: 100vh;
        padding: 6em 0;

        h1,
        p {
            color: $color-text-body-dark;
        }
    }

    .light-full-width-2 {
        background-color: $color-background-dark;
        min-height: 100vh;
        padding: 6em 0;

        h1,
        p {
            color: $color-text-body-light;
        }
    }

    .dark-full-width {
        background-color: $color-background-dark;
        min-height: 100vh;
        padding: 6em 0;

        h1,
        p {
            color: $color-text-body-light;
        }
    }
}

.user-section {
    min-height: 50vh;
}

.display-section {
    background-color: $color-background-light;
    min-height: auto;
    padding: 7em 0;
}

.number-block {
    padding-right: 3em;
}

/* CASE STUDY STYLING */

.project-hero {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

@media (max-width:768px) {
    .project-hero {
        margin: 2em;
    }
}

.project-text {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: .25em;
        align-self: flex-start;
    }

    h3 {
        margin: .5em 0;
        align-self: flex-start;
    }

    .project-skills {
        display: flex;
        gap: 15px;
        justify-content: space-between;
    }
}

.intro-full-width {
    background-color: $color-background-light;
    min-height: 50vh;
    padding: 9em 0 14em 0;

    h3,
    p {
        color: $color-text-body-dark;
    }
}

@media (max-width:768px) {
    .intro-full-width {
        padding: 6em 0;
    }
}

.project-container {
    padding: 3em;
}

.image-banner {

    img {
        width: 98%;
        position: relative;
        top: -90px;
        margin: 0 auto;
        text-align: center;
        display: grid;
    }
}

.forge-banner {
    width: 98%;
    position: relative;
    top: -110px;
    margin: 0 auto;
    text-align: center;
    display: grid;
}

.assets {
    padding: 2em 0;
}

.piko-full-width {
    background-image: url('../../img/piko-trangles-top.svg'), url(../../img/piko-trangles-bottom.svg);
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    background-color: $color-background-light;
    min-height: 70vh;
    padding: 6em 0;

    h1,
    p {
        color: $color-text-body-dark;
    }
}

.piko-icons {
    background-color: $color-background-light;
    min-height: 40vh;
    padding: 3em 0;
}

.featured-section {
    margin: 0 auto;
    max-height: 100vh;
    padding: 5em 0;
    background-color: transparent;

    h3 {
        color: $color-text-body-light;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1em;
    }
}

/* BACKGROUND CARDS */

$cardgap: 4%;

.card-section {
    padding-top: 0;
    padding-bottom: 10em;
}

.project-cards .row {
    align-items: normal;
    margin-left: -($cardgap / 2);
    margin-right: -($cardgap / 2);

    >* {
        margin: ($cardgap / 2);
    }

    .one-whole {
        width: 100% - $cardgap;
    }

    .one-half {
        width: 50% - $cardgap;
    }

    .one-third {
        width: 33.3333% - $cardgap;
    }

    .two-thirds {
        width: 66.6666% - $cardgap;
    }
}

.project-cards .row .bg-half {
    background-color: rgba(35, 35, 35, 1);
    padding: 3em;
    border-radius: 5%;

    h3 {
        padding-top: 1em;
    }

    p {
        line-height: 1.6;
    }
}

.bg-img {
    background: $color-background-dark;
    background-image: url(../../img/piko-logo.webp);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 400px 300px;
}