/* SITE-HEADER SITE-NAV */

.site-header .site-nav {
    padding: 1em 1em;

    a {
        color: rgba(255, 255, 255, .8);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
        justify-content: space-between;
    }

    @media (min-width: $breakpoint-small) {
        ul {
            width: 50%;
        }
    }
}

/* SITE NAV */

.site-nav {
    ul {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 1em 0 0 0;
        list-style: none;
        display: flex;
    }

    a {
        display: inline-block;
        padding: 0 1em;
        line-height: 1;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.logo {
    margin: .25em .5em;
    max-width: 50px;
}

.site-id {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding-left: 1em;
    padding-top: 1em;
}

.project-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding-left: 1em;
    padding-top: 1em;
}

/* SITE FOOTER */

.site-footer {
    background-color: rgba(248, 178, 78, .9);
    padding: 3em;
    display: grid;
    justify-content: center;

    a {
        color: $color-background-light;
    }
}

.contact-wrapper {
    display: flex;
}

/* CONTACT FORM */

.contact-subpage #contact .white-p {
    color: $color-text-body-light;
    text-align: left;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.blue-h2 {
    text-transform: uppercase;
    color: $color-blue-light;
}

.contact-subpage #contact .right-container {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.contact-subpage #contact .right-inner-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    text-align: center;
}

.contact-subpage #contact input,
.contact-subpage #contact textarea {
    background-color: $color-background-light;
    font-family: $font-family-sans;
    border: none;
    padding: 1em .75em;
    margin: 1em 0;
    width: 100%;
    font-size: .8rem;
}